{:paths ["src" "resources"]

 :deps {org.clojure/clojure  {:mvn/version "1.11.1"}
        org.clojure/data.xml {:mvn/version "0.2.0-alpha9"}
        ;; Web
        http-kit/http-kit    {:mvn/version "2.8.0"}
        metosin/reitit       {:mvn/version "0.7.1"}
        cheshire/cheshire    {:mvn/version "5.13.0"}
        ;; HTTP Client
        clj-http/clj-http    {:mvn/version "3.13.1"}
        ;; ClojureScript
        org.clojure/clojurescript {:mvn/version "1.12.42"}}

 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps  {lambdaisland/kaocha {:mvn/version "1.88.1376"}}
         :main-opts   ["-m" "kaocha.runner"]}

  :build {:deps       {org.clojure/clojure           {:mvn/version "1.12.0"}
                       io.github.clojure/tools.build {:git/tag "v0.10.9" :git/sha "e405aac"}}
          :ns-default build}}}
